
*{
    box-sizing: border-box;
}

#image{
    padding: auto;
    border: 1px solid black;
    margin-top: 2px;
    margin-right: 330px;
}

header{
    border-bottom:1px solid black;
    margin: 0px auto 0px auto;
    
    width: 100%;
}

.text-capitalize{
    display: inline;
}

.text-justify{
    margin-left: 64px;
    margin-bottom: 0;
    font-size: 32px;
}

@media (max-width: 780px) {
    header{
        font-size: 8px;
    }
    
}
